body {
  background-color: white;
}


.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

#reserve {
  /* width: 80%;
  height: 80%; */
  background-color: rgb(243, 238, 197); 
  /* display: flex; */
  align-items: center;
  /* flex-direction: column; */
  /* position:fixed; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  /* display: grid; */
  /* grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr; */
}

#close { 
  position:absolute;
  top:5px;
  right:5px;
  cursor: pointer;
  /* grid-area: close; */
}

.reservations-form {
  /* grid-area: form form form-header form form; */
}

.form-header {
  /* grid-area: form-header; */
}

.name {
  /* grid-area: name; */
}



