body {
  background-color: white;
  height: 800px;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

#reserve {
  background-color: rgba(218, 215, 188, 0.986);
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  display: grid;
  overflow-y: scroll;
}

.image {
  margin-left: 14rem;
  margin-right: 12rem;
}

.rating {
  margin: 2px;
  text-align: center;
}

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  height: 15px;
}

.data-list {
  list-style: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resText {
  text-align: center;
}

#reserve h1 {
  text-align: center;
}

#input-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#input-datestart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#input-dateend {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#reserve-count {
  text-align: center;
}

#submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(121, 21, 21);
  color: white;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#toogle {
  position: fixed;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

#modal {
  width: 800px;
  background-color: gray;
  opacity: 0.8;
  height: 550px;
}
