body {
  background-color: rgb(206, 206, 206);
}

.modal {
  background-color: gray;
  width: 800px;
  height: 550px;
  opacity: 0.8;
  position: fixed;
}

#toogle {
  position: fixed;
  /* stylelint-disable-next-line csstree/validator */
  top: 2;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
